/*
Theme Name: Twenty Seventeen child
Template: twentyseventeen
*/
@media screen and (max-width: 400px) 
{
    #Myheader
    {
       min-width: 100%;
    }
    .wp-block-image
    {
       max-width: 80px;
    }
      .col
    {
        padding: 0px;
    }
    .form-inline
    {
        display:block;

    }
    /* button, input[type="button"], input[type="submit"]
    {
        max-height:45px;
        padding: 15px;
    } */
}
.alert{
    margin-bottom: 0px;
}
.container-fluid
{
    padding-left:auto;
    padding-right:auto;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2%;
}
.blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments
{
    float: none;
    /* width:100%; */
}
.inputform
{
    display: inline;
}
/* .wp-block-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
button, input[type="button"], input[type="submit"]
{
    max-height:37px;
    padding: 6px;
}
.titre, .block-quote, .paragraphe{
    text-align: center;
}
img
{
   /* border-style: inset; */
   
   box-shadow: 5px 5px 5px black;
   /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);  */
   border-radius:5px;
   /* border: 2px solid black; */
   /* padding: 1px; */
   background-color: #929292 ;
   
}
.fiche-link{
    padding: 0px;
}
/* .map{
    width: 700px;
    height: 655px;
} */
/* map{
    width: 50%;
    height: 50%;
} */

#fil{
 margin:10px 20px 10px 10px;
}
#fil a{
 color:#58b8f4;
}
#fil a:hover{
 color:#ccc;
}
h2{
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
}
h1{
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
}
#Myheader
{
    width: 100%;
    border-radius:0px;
    border: 0px;
    box-shadow: 0px 0px 0px;
}
.site-content
{
    padding:0px;
}
figure{
    margin: 0px;
}
.topHead
{
    /* position: absolute;
    z-index:1; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
}
.LogoRegion
{
    /* width: 100px; */
    height: 100px;
    margin: 5px;
}
.Trombine, .Trombine2
{
    width: 200px;
    margin: 5px;
    
}
.TrombineDiv
{
    width: 5%;
}
th:first-child, td:first-child{
    padding-left: 10px;
}
/* #submit{
    max-height: 36px;
    padding: 0.75em 2em;
} */





